html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
    padding: 0;
    margin: 0;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}
.container-fluid {
    @include make-container();
}
.row {
    @include make-row();
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.message {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;

  @include border-radius(4px);
  @include alert-variant(rgba(255, 76, 95, 0.31), #fff, #e94455);
}
